*{
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
img{
    border: 2px solid white ;
    box-shadow: 10px 10px 10px rgb(11, 9, 9) , 10px 10px 20px rgb(94, 148, 219);
}
b{
    font-size: larger;
    color:rgb(15, 14, 14);
    margin-top: 2%;
}
small{
    font-size: larger;
    color: rgb(12, 11, 11);
    margin-top: 2%;
}