body{
    background-image: url("carimage2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    background-color: rgb(243, 237, 229);
    width: 50%;
    height: 100vh;
    margin-left: 45%;
    margin-right: 25%;
    font-size: large;
    padding-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2%;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}
button{
    width: 50%;
    margin-left: 25%;
    
}